@import "tailwindcss";
@import "@fontsource/roboto/latin.css";

@theme {
  --color-foreground: #000;
  --color-background: #fff;
}

@theme inline {
  --color-foreground: #fff;
  --color-background: #000;
}

body,
html {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}
